#equalsBtn {
    background-color: lightgreen;
    font-size: 24px;
    width: 45px;
    margin: 3px;
}

#clearBtn {
    background-color: #ff9999;
    font-size: 24px;
    width: 45px;
    margin: 3px;
}

#inputSection {
    font-size: 24px;
}

#inputSection button:hover {
    color: white;
} 

#inputSection button:active {
    position: relative;
    left: 4px;
    top: 4px;
} 

#inputSectionButtons .numberBtn {
    font-size: 36px;
    width: 50px;
    margin: 2px;
}

#inputSectionButtons .operatorBtn {
    font-size: 36px;
    width: 50px;
    margin: 2px;
}

#inputSectionButtons #submitBtn {
    font-size: 36px;
    width: 50px;
    margin: 2px;
}

#inputSectionButtons #clearButton2 {
    font-size: 36px;
    width: 108px;
    margin: 2px;
}

#displayOutput {
    border: 1px solid black;
    font-size: 36px;
    height: 50px;
}

#inputSectionButtons #backspaceBtn {
    font-size: 36px;;
    width: 108px;
    margin: 2px;
}

