#equalsBtn {
    background-color: lightgreen;
    font-size: 24px;
    width: 45px;
    margin: 3px;
}

#clearBtn {
    background-color: #ff9999;
    font-size: 24px;
    width: 45px;
    margin: 3px;
}

#inputSection {
    font-size: 24px;
}

#inputSection button:hover {
    color: white;
} 

#inputSection button:active {
    position: relative;
    left: 4px;
    top: 4px;
} 

#inputSectionButtons button{
    font-size: 36px;
    width: 50px;
    margin: 2px;
}

#displayOutput {
    border: 1px solid black;
}